*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-image: url(Images/fish.png);
    background-repeat: no-repeat;
    background-size: cover;
}

nav img
{
    border-radius: 50%;
}

a:hover{
    color:red !important;
    text-shadow: 2px 2px 3px black;
}

.content
{
    color:rgb(112, 50, 50);
    margin-left: 20%;
}